* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.4;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #CADFEC;
}

.header_index {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.header_index {
    margin-top: 10px;
}

.h1_index {
    margin: 10px 0;
}

.nav_menu_index {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style-position: inside;
    padding-left: 0;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 5px 10px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.footer_link {
    font-size: 16px;
}

@keyframes lineAppear {
    to {
        transform: translateX(-50%) scaleX(1);
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s;
    position: relative;
    display: inline-block;
}

.nav_link_index:hover,
.footer_link:hover {
    color: #428EBD;
}

.nav_link_index:hover::after,
.footer_link:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #428EBD;
    transform: translateX(-50%) scaleX(0);
    animation: lineAppear 0.3s ease forwards;
}


@keyframes pulse {
    0% { box-shadow: 0 0 5px #428EBD; }
    50% { box-shadow: 0 0 20px #428EBD; }
    100% { box-shadow: 0 0 5px #428EBD; }
}

.footer_icon1,
.footer_icon2 {
    transform: translateY(4px);
}

.footer_icon1:hover,
.footer_icon2:hover {
    animation: pulse 1s infinite;
}

.footer_icon2 {
    border-radius: 7px;
}

.footer_icon1 {
    border-radius: 50%;
}

.header_img{
    margin-right: 50px;
}