*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

.btn-slider {
    padding: 10px 10px;
    width: 50px;
    height: 50px;
}

.containerImgBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h1 {
    text-align: center;
}