*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    background-color: #FEF7E7;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

.btn-slider {
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    background-color: #FCE9BB;
    border-radius: 50px;
    cursor: pointer;
}

.containerImgBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.container-img {
    margin-bottom: 10px;
}

/*анимация*/

@keyframes slideLeft {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.slide-left {
    animation: slideLeft 0.5s ease;
}

.slide-right {
    animation: slideRight 0.5s ease;
}